:host {
  display: block;
  height: 100%;
  width: 100%;
}

.container {
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow: auto;
}

.table-container {
  flex: 1;
  overflow: auto;
}

.paginator-container {
  flex: 0;
}

table {
  width: 100%;
}

tr.detail-row {
  height: 0;
}

tr.default-row:not(.detail-row):hover {
  background: whitesmoke;
}

tr.default-row:not(.detail-row):active {
  background: #efefef;
}

.default-row td {
  border-bottom-width: 0;
}

.expanded-detail {
  overflow: hidden;
  display: flex;
}
