table {
  width: 100%;
}

tr.detail-row {
  height: 0;
}

tr.default-row:not(.detail-row):hover {
  background: whitesmoke;
}

tr.default-row:not(.detail-row):active {
  background: #efefef;
}

.default-row td {
  border-bottom-width: 0;
}

.expanded-detail {
  overflow: hidden;
  display: flex;
}
